body{
  background: black;
  color: white;
  padding: 5px;
}

h1{
  background: #333;
  margin: 0 0 5px 0;
  text-align: center;
  padding: 5px;
  font-size: 18px;
  line-height: 1.3;
}

.tagline{
  background: #333;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  font-size: 13px;
}

.grid{
  with:100%;
  overflow: hidden;
}

.grid-hour{
  width: 4%;
  float: right;
}

.grid-time{
  background: #333;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  font-size: 13px;
  margin: 0 5px 5px 0;
}

.grid-shot{
}

.grid-shot a{
  display: block;
  padding: 0 5px 5px 0;
  -webkit-transition: all 300ms 0ms;
}

a.highlighted{
  -webkit-transform: scale(1.2);
}

a.faded{
  opacity: 0.25;
}

.grid-image{
  width: 100%;
  display: block;
}