body{
  background: black;
}

.grid{
  with:100%;
  overflow: hidden;
}

.grid-day{
  width: 4%;
  margin-right: 4px;
  float: left;
}

.grid-shot{
  margin-bottom: 4px;
}

.grid-image{
  width: 100%;
  display: block;
}