 /* main stuff */

body{
  background: #111 url('/chalkboard.jpg');
  color: white;
  padding: 5px;
  font-family: 'Source Sans Pro', sans-serif;
}

h1{
  margin: 0 0 5px 0;
  text-align: center;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 100;
}

.tagline{
  margin-bottom: 5px;
  font-weight: bold;
  text-align: center;
  font-size: 13px;
  font-weight: 100;
}

/* grid */

.grid{
  width:100%;
  overflow: hidden;
}

.grid-col{
  width: 4%;
  float: right;
  margin-right: 5px;
}

.grid-cell{
  margin-bottom: 5px; 
}

/* legend */

.grid-position{
  width: 100%;
  line-height: 100%;
  text-align: center;
  position: relative;
  font-size: 13px;
}

.grid-position img{
  width: 100%;
  display: block;
}

.grid-position div{
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -7px;
}

.grid-time{
  font-weight: 100;
  text-align: center;
  padding: 5px;
  font-size: 13px;
  margin: 0 5px 5px 0;
}

/* shots */

.grid-shot{
  position: relative;
}

.grid-shot a{
  display: block;
  -webkit-transition: all 300ms 0ms;
}

.grid-shot a img{
  -webkit-transition: all 300ms 0ms; 
}

a.highlighted img{
  -webkit-transform: scale(1.2);
}

a.faded{
  opacity: 0.2;
}

.grid-image{
  width: 100%;
  display: block;
}

.shot-likes{
  display: block;
  position: absolute;
  text-align: center;
  bottom:-25px;
  width: 100%;
  color: white;
  font-size: 12px;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 300ms 0ms;
}

.highlighted .shot-likes{
  opacity: 1;
}

/* zoom */

.zoom-shot{
  display: block;
  position: absolute;
  height: 300px;
  width: 400px;
  right: 10px;
  bottom: 50px;
  z-index: 1000;
}

.offset{
  left: 10px;
  right: auto;
}

.zoom-legend{
  text-align: center;
  padding: 5px 0;
}