body{
  background: black;
  color: white;
  padding: 10px;
}

.grid{
  with:100%;
  overflow: hidden;
}

.grid-hour{
  width: 4%;
  margin-right: 4px;
  float: left;
}

.grid-time{
  background: #333;
  margin-bottom: 4px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  font-size: 13px;
}

.grid-shot{
  margin-bottom: 4px;
}

.grid-image{
  width: 100%;
  display: block;
}